<h1>Receipt Printer API @ Recurse Center</h1>
<p><a href="docs">docs</a></p>
<% if (name) { %>
<p>Hello, <%= name %>! <a href="/logout">Log out</a></p>
<% } else { %>
<p>Welcome! <a href="/login">Log in</a></p>
<% } %>
<script>
const intendedOrigin = '<%= origin %>'
const actualOrigin = window.location.origin
if (intendedOrigin !== actualOrigin) {
  window.location.href = intendedOrigin
}
</script>
