<h1>Receipt Printer API @ Recurse Center</h1>
<% if (name) { %>
<p>Hello, <strong><%= name %></strong>! You are now authorized to print! <a href="/logout">Log out</a></p>
<p>Check out these cool websites that integrate with Receipt Printer API:</p>
<ul>
<li><a href="https://selfie.recurse.com">selfie.recurse.com</a></li>
<li><a href="https://receipt-text.recurse.com">receipt-text.recurse.com</a></li>
</ul>
<% } else { %>
<p>Welcome! Want to print receipts? <a href="/login">Log in</a></p>
<% } %>
<p>If you are developing a client web application and wish to integrate with Receipt Printer API, have a look at this <a href="docs">documentation</a>.</p>
<p>Receipt Printer API was created at <a href="https://www.recurse.com">The Recurse Center</a> in Fall 1, 2025.</p>
<p><a href="https://github.com/aycyang/receipt-api-server">Contributions are welcome!</a></p>
<script>
const intendedOrigin = '<%= origin %>'
const actualOrigin = window.location.origin
if (intendedOrigin !== actualOrigin) {
  window.location.href = intendedOrigin
}
</script>
